<div class="fmc-section fmc-career">
    <div class="layout">
        <h2 class="fmc-section__title">Meet your New Colleagues</h2>

        <div class="fmc-career__text">
            <p>We are offering you the potential for rapid career advancement in a dynamic, high-growth environment in which professionalism and team spirit are the foundations of shared success.</p>
        </div>

        <div class="fmc-career__in">
            <div class="fmc-career__img">
                <img src="img/content-items/career/formycon-career.jpg">
            </div>

            <div class="fmc-career__info">
                <div class="fmc-infolist">
                    <a href="" class="fmc-infobox fmc-infobox--red link-trigger">
                        <h3 class="fmc-infobox__title">Management</h3>
                        <span class="link--animaline link--red">
                            <span class="fmc-infobox__text link--animaline__title">Controller (m/w) mit Schwerpunkt Projekt- Controlling</span>
                        </span>
                    </a>
                    <a href="" class="fmc-infobox fmc-infobox--red link-trigger">
                        <h3 class="fmc-infobox__title">Research</h3>
                        <span class="link--animaline link--red">
                            <span class="fmc-infobox__text link--animaline__title">Technischer Assistent Zellbiologie (m/w)</span>
                        </span>
                    </a>
                </div>
                <a href="" class="fmc-infobox fmc-infobox--red link-trigger">
                    <span class="link--animaline link--red">
                        <span class="link--animaline__title">
                            <img src="/img/content-items/career/search-prop.svg" class="fmc-infobox__icon icon--red">
                            <span class="fmc-infobox__title">Explore all Career Opportunities</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>