.fmc-career {
    color: $c_dark-blue;
    .fmc-section__title {
        margin-bottom: 44px;
        @media #{$m-mobile--large} {
            margin-bottom: 40px;
        }
        @media #{$m-tablet--large} {
            margin-bottom: 47px;
        }
        @media #{$m-desktop} {
            margin-bottom: 36px;
        }
    }
    .fmc-infolist {
        margin-bottom: 127px;
        display: none;
        @media #{$m-tablet--large} {
            display: flex;
        }
    }
    .fmc-infobox {
        max-width: 480px;
        margin: 0 auto;
         @media #{$m-tablet--large} {
            max-width: none;
            margin: 0;
        }
    }
    &__in {
        -ms-display: flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
    &__text {
        width: 100%;
        max-width: 395px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        max-width: 575px;
        @media #{$m-tablet--wide} {
            max-width: 575px;
        }
        @media #{$m-desktop} {
            width: percentage(368/1180);
            max-width: none;
            margin-left: auto;
            margin-right: 0;
            text-align: left;
        }
    }
    &__img {
        width: 100%;
        min-width: calc(100% + 100px);
        margin-left: -40px;
        -ms-align-self: flex-end;
        align-self: flex-end;
        -ms-order: 1;
        order: 1;
        @media #{$m-tablet} {
            min-width: auto;
            margin-left: 0;
        }
        @media #{$m-tablet--large} {
            width: percentage(530/920);
            -ms-order: 0;
            order: 0;
        }
        @media #{$m-desktop} {
            width: percentage(772/1180);
            -ms-order: 0;
            order: 0;
        }
        img {
            max-width: 100%;
            display: block;
        }
    }
    &__info {
        width: 100%;
        padding: 25px 0 48px;
        -ms-order: 0;
        order: 0;
        @media #{$m-mobile--large} {
            padding: 40px 0 42px;
        }
        @media #{$m-tablet--large} {
            padding: 36px 0 95px;
            width: percentage(374/920);
            -ms-order: 1;
            order: 1;
        }
        @media #{$m-desktop} {
            width: percentage(368/1180);
            -ms-order: 1;
            order: 1;
            padding: 24px 0 95px;
        }
    }
}

.fmc-infolist {
    -ms-display: flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
    .fmc-infobox {
        width: percentage(176/368);
    }
}

.fmc-infobox {
    display: block;
    &--red {
        color: $c_light-red;
        .fmc-infobox__icon {
            fill: $c_light-red;
        }
    }
    &__title {
        font-size: 13px;
        line-height: 1.23;
        margin: 0;
        font-weight: 700;
        margin-bottom: 12px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.4;
        color: $c_dark-blue;
        font-weight: 700;
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 28px;
    }
}