<a href="" class="fmc-widget" style="background: {{ widget.background }};">
    <div class="fmc-widget__head">
        <h3 class="fmc-widget__title">{{ widget.title | raw }}</h3>
        <span class="fmc-widget__symbol">{{ widget.symbol | raw }}</span>
    </div>
    <div class="fmc-widget__body">

        {% if widget.text %}
        <div class="fmc-widget__text">{{ widget.text | raw }}</div>
        {% endif %}

        {% if widget.table_simple %}
        <div class="fmc-simple-table">
            {% for row in widget.table_simple %}
            <div class="fmc-simple-table__row">
                <div class="fmc-table-txt fmc-table-txt--sm">{{ row.option | raw }}</div>
                <div class="fmc-table-txt fmc-table-txt--lg">{{ row.value | raw }}</div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if widget.table_complex %}
        <table class="fmc-complex-table">
            <thead>
                <tr>
                    {% for i in widget.table_complex.head %}
                    <th>
                        <div class="fmc-complex-table__cell">
                            <div class="fmc-complex-table__data">{{ i | raw }}</div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in widget.table_complex.body %}
                <tr>
                    <td>
                        <div class="fmc-complex-table__cell">
                            <div class="fmc-complex-table__data fmc-table-txt fmc-table-txt--lg fmc-table-txt--upper">
                                {{ row.product | raw }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="fmc-complex-table__cell">
                            <div class="fmc-complex-table__data fmc-table-txt fmc-table-txt--sm">
                                {{ row.originator | raw }}
                            </div>
                        </div>
                    </td>
                    {% for n in range (1, 3) %}
                    <td>
                        <div class="fmc-complex-table__cell">
                            {% if n <= row.col_number %}
                            <div class="fmc-complex-table__data">
                                <div class="fmc-progress" style="background: #fff500; width: {% if n == row.col_number %}{{ row.col_progress }}{% else %}100%{% endif %}"></div>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}


                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
</a>