.fmc-widget {
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: inherit;
    padding: 16px 24px 20px;
    -ms-display: flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-justify-content: space-between;
    justify-content: space-between;
    transition: all .25s ease-in-out;
    -webkit-backface-visibility: hidden;
    &:hover {
        @media #{$m-tablet--wide} {
            box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 1);
            transform: translate3d(0, -20px, 0);

        }
    }
    &__title {
        margin: 0;
        font-size: 13px;
        line-height: 1.38;
        padding-bottom: 15px;
        margin-bottom: 10px;
        font-weight: 700;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            max-width: 96px;
            height: 2px;
            background: #fff;
        }
    }
    &__symbol {
        font-size: 48px;
        line-height: 0.83;
        font-weight: 600;
        min-height: 64px;
        line-height: 64px;
        img {
            width: 64px;
        }
        svg {
            width: 64px;
            height: 64px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        @media #{$m-desktop} {
            font-size: 20px;
        }
        p {
            margin: 0;
        }
    }
}

.fmc-simple-table {
    &__row {
        background: linear-gradient(to left, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: 0 100%;
        padding: 8px 0;
        -ms-display: flex;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-align-items: flex-start;
        align-items: flex-start;
        -ms-justify-content: space-between;
        justify-content: space-between;
        @media #{$m_desktop} {
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-align-items: center;
            align-items: center;
        }
    }
}



.fmc-complex-table {
    border-collapse: collapse;
    width: 100%;
    &__cell {
        background: linear-gradient(to left, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: 0 100%;
        height: 100%;
        position: relative;
        -ms-display: flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
    }
    &__data {
        width: 100%;
    }
    td,
    th {
        padding: 0;
        &:nth-child(2) {
            display: none;
            @media #{$m-mobile--large} {
                display: table-cell;
            }
        }
        &:nth-child(-n+2) {
            .fmc-complex-table__data {
                margin-right: 10px;
            }
        } 
        &:nth-child(n+3) {
            &.is-full {
                .fmc-complex-table__data {
                    min-width: calc(100% + 6px);
                }
            }
        }
        &:nth-child(n+2) {
            .fmc-complex-table__cell {
                max-width: calc(100% - 6px);
                background-position: 100% 100%;
            }
        }
    }
    td {
        height: 35px;
        vertical-align: middle;
        .fmc-table-txt--lg {
            font-size: 14px;
        }
    }
    th {
        color: $c_dark-gray;
        text-transform: uppercase;
        font-size: 8px;
        line-height: 1.2;
        letter-spacing: 0.8px;
        font-weight: 700;
        text-align: left;
        vertical-align: bottom;
        .fmc-complex-table__cell {
            padding-bottom: 9px;
        }
    }
}

.fmc-progress {
    height: 8px;
}

.fmc-table-txt {
    &--lg {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
    }
    &--sm {
        font-size: 13px;
        line-height: 1.23;
        font-weight: 700;
    }
    &--upper {
        text-transform: uppercase;
    }
}