.stock-widget {
  background: #ebf0f5;
  position: absolute;
  top: 0;
  right: 16px;
  padding: 12px 20px;
  font-size: 13px;
  width: 224px;
  z-index: 1000;
  transform: translateX(256px);
  line-height: 16px;
  display: flex;
  transition: transform 0.4s ease;
  @media #{$m-tablet--wide} {
    right: 16px;
    width: auto;
    transform: translateX(0);
  }

  @media #{$m-desktop} {
    right: 32px;
    padding: 20px 16px 12px;
  }

  @media #{$m-desktop--wide} {
    right: 64px;
  }

  &__difference {
    margin-left: 4px;
    color: $c_dark-blue;

    &--up {
      color: #00af00;
      padding-left: 16px;
      position: relative;

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: -3px;
        left: 0;
        background: url("../img/components/stock-widget/stock-arrow-up.svg");
      }
    }

    &--down {
      color: $c_red;
      padding-left: 16px;
      position: relative;

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: -3px;
        left: 0;
        background: url("../img/components/stock-widget/stock-arrow-down.svg");
        transform: rotate(180deg);
      }
    }
  }
}
