.header {
  $this: &;
  background: rgba(#fff, .97);
  padding: 0 24px;
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s ease-in-out;
  @media #{$m-tablet} {
    height: 96px;
    padding: 0 32px;
  }
  @media #{$m-tablet--wide} {
    height: 128px;
    padding: 0 28px;
  }
  @media #{$m-desktop} {
    padding: 0 44px;
    height: 160px;
  }
  @media #{$m-desktop--wide} {
    padding: 0 76px;
  }
  &::after {
    content: "";
    width: 0;
    height: 100vh;
    background: #000;
    display: block;
    position: fixed;
    opacity: 0;
    transition: opacity 0.4s ease, width 0s linear 0.4s;
    z-index: 2;
    left: 0;
    top: 0;
  }
  &__logo {
    position: relative;
    margin-left: -8px;
    transition: margin-top 0.3s ease-in-out;
    width: 112px;
    @media #{$m-tablet} {
      margin-left: -8px;
      width: 156px;
    }
    @media #{$m-tablet--wide} {
      margin-top: -6px;
      margin-left: 8px;

      .header--compact & {
        // margin-top: 0;
      }
    }
    @media #{$m-desktop} {
      width: 200px;
      // margin-top: -28px;

      .header--compact & {
        // margin-top: 0;
      }
    }
  }

  &--compact {
    height: 72px;

    .stock-widget {
      @media #{$m-tablet--wide} {
        transform: translateY(-50px);
      }
    }
    // .header__logo {
    //
    //   @media #{$m-tablet--wide} {
    //     transform: translateY(7px);
    //   }
    // }
  }

  &__menu--open + .stock-widget {
    transform: translateX(0px);
  }

  &__link-wrap {
    &:last-of-type > #{$this}__link {
      border-bottom: 1px solid #ebf0fa;
      @media #{$m-tablet--wide} {
        border-bottom: none;
      }
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $c_dark-blue;
    font-weight: bold;
    padding: 16px;
    cursor: pointer;
    border-top: 1px solid #ebf0fa;
    padding-right: 32px;
    font-size: 13px;

    &--active {
      color: $c_yellow;
    }
    @media #{$m-tablet--wide} {
      padding: 20px 13px;
      border: none;
      font-size: 13px;

      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 56px;
        background: #ffdc00;
        top: 0;
        left: 50%;
        margin-left: -1px;
        margin-top: -42px;
        z-index: 9;
        transform: translateY(-100%);
        transition: transform 0.4s ease;
        visibility: hidden;
      }

      &--hover {
        &:before {
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    @media #{$m-desktop} {
      padding: 24px 22px;
      font-size: 15px;

      &:before {
        height: 64px;
        top: 0;
        width: 2px;
        margin-top: -50px;
      }
    }
  }

  &__slide-content {
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .4s ease;
    @media #{$m-tablet--wide} {
      width: auto;
    }
  }

  &__burger-trigger {
    margin-right: -10px;
    padding: 10px;
    display: inline-flex;
    cursor: pointer;
    @media #{$m-tablet--wide} {
      display: none;
    }
  }

  &__search {
    margin-left: auto;
    display: inline-flex;
    padding: 4px;
    @media #{$m-tablet--wide} {
      margin-left: 72px;
    }
    @media #{$m-desktop} {
      margin-left: 68px;
    }

    &:hover {
      path {
        fill: $c_yellow;
      }
    }
  }

  &__menu {
    display: flex;
    position: fixed;
    width: 256px;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(256px);
    overflow: auto;
    padding: 0 16px;
    background: #fff;
    padding-top: 53px;
    z-index: 1000;
    flex-direction: column;
    transition: transform 0.4s ease;

    &--open {
      transform: translateX(0);
    }
    @media #{$m-tablet--wide} {
      background-color: transparent;
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      position: static;
      transform: none;
      padding: 8px 0 0 0;
      visibility: visible;
      overflow: visible;
      // transition: none;

      .header--compact & {
        transform: translateY(-3px);
      }
    }
    // @media #{$m-desktop} {
    //   padding: 0 0 12px;
    // }
  }

  &__switch {
    display: flex;
    align-items: center;
    padding: 0 8px;
    min-height: 54px;
    @media #{$m-tablet--wide} {
      margin-left: auto;
      padding: 0;
    }
    @media #{$m-desktop} {
      // padding-top: 3px;
    }
  }

  &__navigation {
    order: 1;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    @media #{$m-tablet--wide} {
      margin-top: 0;
      margin-right: -20px;
      order: 0;
      display: flex;
      margin-left: auto;
      flex-direction: row;
    }
    @media #{$m-desktop} {
      margin-right: 24px;
    }
  }

  &__submenu {
    list-style-type: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
    display: block;
    margin: 0;
    padding: 0;
  }

  &__submenu-link {
    font-size: 13px;
    text-transform: initial;
    font-weight: normal;
    color: #1e2d37;
    padding: 10px 16px;
    display: block;
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
