{% set widgets = [
    {
        background: '#299baf',
        title: 'Awards 2018',
        symbol: '<img src="img/content-items/facts/certificate.png">',
        text: '<p>Formycon ranks 7th in the Financial Times list of Europe’s 1000 strongest-growing companies.</p>'
    },
    {
        background: '#4265aa',
        title: 'Key Figures 2017',
        symbol: '<span>Q3</span>',
        table_simple: [
            {
                option: 'Turnover',
                value: '888.88 m'
            },
            {
                option: 'Earnings (EBITDA)',
                value: '888.88 m'
            },
            {
                option: 'Assets',
                value: '888.88 m'
            }
        ]
    },
    {
        background: '#4b5a73',
        is_complex: true,
        title: 'Pipeline',
        symbol: '<img src="img/content-items/facts/biotech.png">',
        table_complex: {
            head: [
                'product',
                'originator',
                'preclinical <br>phase',
                'clinical <br>phase I',
                'clinical <br>phase II'
            ],
            body: [
                {
                    product: 'Fyb201',
                    originator: 'Lucentis®',
                    col_number: 3,
                    col_progress: '100%'
                },
                {
                    product: 'Fyb202',
                    originator: 'Stelara®',
                    col_number: 2,
                    col_progress: '50%'
                },
                {
                    product: 'Fyb203',
                    originator: 'Eylea®',
                    col_number: 2,
                    col_progress: '100%'
                },
                {
                    product: 'Fyb205',
                    originator: 'Undisclosed',
                    col_number: 1,
                    col_progress: '100%'
                }
            ]
        }
    }
]
%}

<div class="fmc-section fmc-facts">
    <div class="layout">
        <h2 class="fmc-section__title">Facts & Insights</h2>
        <div class="fmc-facts__in">
            {% for widget in widgets %}
            <div class="fmc-facts__item{% if widget.is_complex %} fmc-facts__item--complex{% endif %}">
                {% include "components/widget/_widget.twig" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>