.fmc-facts {
    background-color: $c_dark-blue;
    color: #fff;
    padding-bottom: 82px;
    @media #{$m-tablet--wide} {
        padding-bottom: 112px;
    }
    .fmc-section__title {
        margin-bottom: 57px;
        @media #{$m-mobile--large} {
            margin-bottom: 72px;
        }
    }
    &__in {
        -ms-display: flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-justify-content: space-between;
        justify-content: space-between;
        @media #{$m-tablet} {
            padding: 0 62px;
        }
        @media #{$m-tablet--large} {
            padding: 0;
        }
    }
    &__item {
        width: 100%;
        min-height: 336px;
        margin-bottom: 16px;
        @media #{$m-mobile--large} {
            width: calc(50% - 8px);
        }
        @media #{$m-tablet--large} {
            width: percentage(218/920);
        }
        @media #{$m-desktop} {
            width: percentage(266/1180);
        }
        &--complex {
            width: 100%;
            @media #{$m-tablet--large} {
                width: percentage(452/920);
            }
            @media #{$m-desktop} {
                width: percentage(572/1180);
            }
        }
    }
}