<div class="fmc-tabs">
    <div class="layout">
        {% include "content-items/tabs/_tablist.twig" %}
    </div>

    <div class="fmc-tabs__content">
        <div class="layout">
            {% include "content-items/tabs/news/_news.twig" %}
            {% include "content-items/tabs/events/_events.twig" %}
            {% include "content-items/tabs/publications/_publications.twig" %}
        </div>
    </div>
</div>