.fmc-tabs {
    padding-top: 4%;
    &__content {
        background-color: $c_light-blue;
        position: relative;
        .layout {
            padding: 0;
            @media #{$m-tablet--large} {
                padding: 0 16px;
            }
        }
    }
}

.fmc-tablist {
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-size: 0;
    .fmc-tab-button {
        display: inline-block;
        vertical-align: bottom;
    }
}

.fmc-tab-button {
    text-decoration: none;
    text-align: center;
    padding: 18px 15px;
    border-bottom: 2px solid transparent;
    color: $c_dark-blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.23;
    transition: all .25s ease-in-out;
    &.is-active {
        color: $c_blue;
        border-bottom-color: $c_blue;
    }
    &.is-disabled {
        pointer-events: none;
    }
    & > span:not(.is-mob-visible) {
        display: none;
        @media #{$m-mobile--land} {
            display: inline;
        }
    }
    & > span.is-mob-visible {
        display: inline;
        @media #{$m-mobile--land} {
            display: none;
        }
    }
    @media #{$m-tablet--wide} {
        &:hover {
            color: $c_blue;
            border-bottom-color: $c_blue;
        }
    }
}