<div class="fmc-tablist">
    <a href="" class="fmc-tab-button js-tab-link">
        <span>Latest news</span>
        <span class="is-mob-visible">News</span>
    </a>
    <a href="" class="fmc-tab-button js-tab-link">
    	<span>Upcoming events</span>
        <span class="is-mob-visible">Events</span>
    </a>
    <a href="" class="fmc-tab-button js-tab-link">
    	<span>Publications</span>
        <span class="is-mob-visible">Publications</span>
    </a>
</div>