<div class="footer">
    <div class="layout">
        <div class="footer-navigation">
            <div class="footer-navigation__col">
                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">Company</div>
                    <div class="item__list accordeon__content">
                        <a href="">Overview</a>
                        <a href="">About us</a>
                        <a href="">Version & Mission</a>
                        <a href="">Company History</a>
                        <a href="">Management</a>
                        <a href="">Supervisory Board</a>
                        <a href="">Advisory Board</a>
                    </div>
                </div>

                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">News</div>
                    <div class="item__list accordeon__content">
                        <a href="">Press Releases</a>
                    </div>
                </div>
            </div>
            
            <div class="footer-navigation__col">
                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">Biosimilars</div>
                    <div class="item__list accordeon__content">
                        <a href="">What are Biosimilars</a>
                        <a href="">Our Pioneering Role</a>
                        <a href="">Sources</a>
                    </div>
                </div>

                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">Portfolio</div>
                    <div class="item__list accordeon__content">
                        <a href="">Overview</a>
                        <a href="">Pipeline</a>
                        <a href="">FYB201</a>
                        <a href="">FYB202</a>
                        <a href="">FYB203</a>
                    </div>
                </div>
            </div>
            
            <div class="footer-navigation__col">
                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">Investor Relations</div>
                    <div class="item__list accordeon__content">
                        <a href="">Overview</a>
                        <a href="">Stock</a>
                        <a href="">Financial Reports</a>
                        <a href="">Factsheet</a>
                        <a href="">Calendar</a>
                        <a href="">Annual General Meeting</a>
                    </div>
                </div>

                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">Career</div>
                    <div class="item__list accordeon__content">
                        <a href="">Our Benefits</a>
                        <a href="">Job Offers</a>
                    </div>
                </div>
            </div>
            
            <div class="footer-navigation__col">
                <div class="item">
                    <div class="item__title accordeon__title" data-accordeon-media="(max-width: 959px)">Contacts Us</div>
                    <div class="item__list accordeon__content">
                        <a href="">Location & Derections</a>
                        <a href="">Press Information</a>
                        <a href="">Investor Rrelations</a>
                    </div>
                </div>

                <div class="footer-links">
                    <a href="">Member of Bio Deutschland</a>
                    <a href="">Member of Biosimilars Medicines</a>
                </div>
            </div>
        </div>

        <div class="footer-contacts">
            <h3 class="footer-contacts__title">Stay in Touch and Join our Newsletter</h3>
            <div class="footer-contacts__form">
                {% include "components/subscribe-form/_subscribe-form.twig" %}
            </div>
        </div>

        <div class="footer-copyright">
            <div class="footer-copyright__left">
                <div class="footer-copytext">Formycon AG</div>
                <div class="footer-copytext footer-copytext--yellow">Global Quality Biosimilars</div>
            </div>
            <div class="footer-copyright__right">
                <p>© Formycon AG</p>
                <a href="#">Imprint</a>
                <a href="#">Privacy policy</a>
            </div>
        </div>
    </div>
</div>