.footer {
    padding: 40px 0 96px 0;
    background: $c_blue;
    color: #fff;
    overflow: hidden;
    @media #{$m-tablet} {
        padding: 40px 65px 96px;
    }
    @media #{$m-tablet--large} {
        padding: 85px 0 96px;
    }
}

.footer-navigation {
    -ms-display: flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 36px;
    @media #{$m-mobile--land} {
        padding: 0 24px;
    }
    @media #{$m-mobile--large} {
        padding: 0 62px;
    }
    @media #{$m-tablet--large} {
        padding: 0;
        margin-bottom: 65px;
    }
    .accordeon__title {
        @media #{$m-tablet--large} {
            pointer-events: none;
        }
        &:before, &:after {
            background: #fff;
            right: 9px;
            @media #{$m-tablet--large} {
                display: none;
            }
        }
    }
    .accordeon__content {
        @media #{$m-tablet--large} {
            display: block;
        }
    }
    .item {
        // padding: 14px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        @media #{$m-tablet--large} {
            // padding: 0;
            border-bottom: none;
        }
        &:not(:last-child) {
            @media #{$m-tablet--large} {
                margin-bottom: 60px;
            }
            @media #{$m-tablet--wide} {
                margin-bottom: 37px;
            }
        }
    }
    &__col {
        width: 100%;
        -ms-display: flex;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        &:first-child {
            .item:first-child  {
                border-top: 1px solid rgba(0, 0, 0, .2);
            }
        }
        .footer-links {
            margin-top: auto;
            padding-top: 40px;
        }
        @media #{$m-tablet--large} {
            width: percentage(218/920);
            &:first-child {
                .item:first-child  {
                    border-top: none;
                }
            }
        }
        @media #{$m-tablet--wide} {
            width: percentage(266/1180);
        }
    }
}

.item {
    color: #fff;
    &__list {
        margin-bottom: 25px;
        @media #{$m-tablet--wide} {
            margin-top: 21px;
        }
        a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            line-height: 1;
            letter-spacing: 0.1px;
            transition: opacity .25s ease-in-out;
            margin-top: 23px;
            &:hover {
                opacity: .75;
            }
            @media #{$m-tablet--large} {
                font-size: 16px;
            }
            @media #{$m-tablet--wide} {
                margin-bottom: 20px;
            }
        }
    }
    &__title {
        font-size: 12px;
        line-height: 0.83;
        text-transform: uppercase;
        font-weight: 700;
        padding: 14px 0;
        @media #{$m-tablet--large} {
            font-size: 15px;
        }
    }
}

.footer-links {
    a {
        color: $c_bright-blue;
        font-size: 13px;
        line-height: 1.23;
        font-weight: 700;
        display: block;
        margin-bottom: 16px;
        transition: opacity .25s ease-in-out;
        @media #{$m-tablet--large} {
            &:hover {
                opacity: .75;
            }
        }
    }
}

.footer-contacts {
    position: relative;
    padding-top: 27px;
    margin: 0 16px;
    &:before {
        content: "";
        display: block;
        width: calc(100% + 80px);
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: -40px;
    }
    @media #{$m-mobile--land} {
        margin: 0 24px;
    }
    @media #{$m-mobile--large} {
        margin: 0 62px;
        &:before {
            width: 100%;
            left: 0;
        }
    }
    @media #{$m-tablet--large} {
        margin: 0;
    }
    &__title {
        text-align: center;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;
        margin-bottom: 32px;
    }
    &__form {
        .fmc-input-group {
            margin: 0 auto;
        }
    }
}

.footer-copyright {
    -ms-display: flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 59px;
    margin: 0 16px;
    @media #{$m-mobile--land} {
        margin: 0 24px;
    }
    @media #{$m-mobile--large} {
        margin: 0 62px;
    }
    @media #{$m-tablet--large} {
        margin: 0;
        padding-top: 76px;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
    &__left {
        order: 1;
        @media #{$m-tablet--large} {
            order: 0;
        }
    }
    &__right {
        order: 0;
        margin-bottom: 100px;
        -ms-align-self: center;
        align-self: center;
        text-align: center;
        font-size: 13px;
        @media #{$m-tablet--large} {
            order: 1;
            margin-bottom: 0;
            text-align: right;
            -ms-align-self: flex-end;
            align-self: flex-end;
        }
        p {
            margin: 0 0 18px 0;
            @media #{$m-tablet--large} {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
        a {
            font-size: 13px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.footer-copytext {
    font-size: 11px;
    line-height: 1.33;
    font-weight: 700;
    @media #{$m-tablet--large} {
        font-size: 16px;
    }
    &--yellow {
        color: $c_light-yellow;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            max-width: 69px;
            height: 2px;
            background: $c_light-yellow;
        }
    }
}