$duration: 1.5s;

.wrapper {
    position: relative;
    @media #{$m-tablet--large} {
        margin-top: 2%;
    }

    &::after {
        content: "";
        display: block;
        position: relative;
        padding-bottom: calc(100% + 8px);
        @media #{$m-tablet} {
            padding-bottom: calc(100% + 16px);
        }
        @media #{$m-tablet--large} {
            padding-bottom: 0;
        }
    }
}

.sticker {
    position: sticky;
    top: 208px;
    margin-top: -100%;
    z-index: 1;
    @media #{$m-tablet} {
        top: 240px;
    }
    @media #{$m-tablet--large} {
        position: static;
        top: auto;
        margin-top: 0;
    }
}

.carousel {
    overflow: hidden;
    position: relative;
    &__list {
        position: relative;
        @media #{$m-tablet--large} {
            padding-bottom: 41%;
            transform: none !important;
        }
        @media #{$m-desktop--wide} {
            padding-bottom: 31%;
        }
    }
    &__item {
        top: 0;
        height: 100%;
        width: 100%;
        flex: 0 0 100%;
        padding-bottom: 100%;
        overflow: hidden;
        // @media #{$m-mobile--land} {
        //     padding-bottom: 50%;
        // }
        @media #{$m-tablet} {
            padding-bottom: 100%;
        }
        @media #{$m-tablet--large} {
            padding-bottom: 41%;
            position: absolute;
            &.active {
                z-index: 5;
            }
        }
        @media #{$m-desktop--wide} {
            padding-bottom: 31%;
        }
    }

    &__image {
        left: -12px;
        right: -12px;
        height: 100%;
        position: absolute;
        transform: scale(1.2);
        transition: transform .5s ease-in-out;
        background-size: cover;
        @media #{$m-mobile--land} {
            left: 0;
            right: 0;
        }
        @media #{$m-tablet--large} {
            width: 53%;
            right: 0;
            left: auto;
            opacity: 0;
            .carousel__item.next & {
                opacity: 1;
                transform: translateX(-151%) scale(1);
                transition: transform 0s ease-in-out .1s, opacity #{$duration} ease-in-out .1s;
            }
            .carousel__item.prev & {
                opacity: 0;
                transform: translateX(0) scale(.8);
                transition: transform #{$duration} ease-in-out, opacity #{$duration} ease-in-out;
            }
            .carousel__item.active & {
                opacity: 1;
                z-index: 3;
                transform: translateX(0) scale(1);
                transition: transform #{$duration} ease-in-out, opacity 0s ease-in-out;
            }
        }
        @media #{$m-desktop--wide} {
            width: 54%;
        }
        .carousel.active & {
            transform: scale(1);
        }
    }
    &__wrap {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 32px;
        padding: 16px;
        opacity: 0;
        z-index: 4;
        transition: opacity #{$duration / 2} ease-in-out;
        @media #{$m-tablet} {
            left: 96px;
            right: 96px;
        }
        @media #{$m-tablet--large} {
            opacity: 1;
            right: 0;
            left: auto;
            width: 400px;
            bottom: 8px;
            padding: 32px;
        }
        @media #{$m-desktop--wide} {
            right: 16px;
            bottom: 32px;
            width: 568px;
        }
        .carousel.active & {
            opacity: 1;
        }
        hr {
            height: 0;
            margin: 16px 0 0;
            background-color: transparent;
            padding: 0;
            border: none;
            border-bottom: 2px solid #fff;
            @media #{$m-tablet} {
                margin-top: 28px;
            }
            @media #{$m-tablet--large} {
                margin-top: 16px;
                opacity: 0;
                transform: translateY(25px);
                transition: transform #{$duration / 2} ease-in-out, opacity #{$duration / 2} ease-in-out;
                .carousel__item.active & {
                    opacity: 1;
                    transform: translateY(0);
                    transition: transform #{$duration / 2} ease-in-out #{$duration / 2}, opacity #{$duration / 2} ease-in-out #{$duration / 2};
                }
            }
            @media #{$m-desktop--wide} {
                margin-top: 32px;
            }
        }
        .carousel__item.active &:hover {
            hr {
                @media #{$m-tablet--large} {
                    border-color: $c_yellow--light;
                }
            }
        }
    }
    &__text {
        color: #fff;
        text-align: center;
        @media #{$m-tablet--large} {
            text-align: right;
            opacity: 0;
            transform: translateY(-25px);
            transition: transform #{$duration / 2} ease-in-out, opacity #{$duration / 2} ease-in-out;
            .carousel__item.active & {
                opacity: 1;
                transform: translateY(0);
                transition: transform #{$duration / 2} ease-in-out #{$duration / 2}, opacity #{$duration / 2} ease-in-out #{$duration / 2};
            }
            .carousel__wrap:hover & {
                color: $c_yellow--light;
            }
        }
    }
    &__title {
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 4px;
        @media #{$m-tablet} {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 6px;
        }
        @media #{$m-tablet--large} {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 4px;
        }
        @media #{$m-desktop--wide} {
            font-size: 28px;
            line-height: 32px;
        }
    }
    &__desc {
        font-size: 12px;
        line-height: 16px;
        @media #{$m-tablet} {
            font-size: 18px;
            line-height: 24px;
        }
        @media #{$m-tablet--large} {
            font-size: 12px;
            line-height: 16px;
        }
        @media #{$m-desktop--wide} {
            font-size: 18px;
            line-height: 24px;
        }
        p {
            margin: 0;
        }
    }
    &__pagination {
        position: absolute;
        height: 34px;
        left: 0;
        width: 100%;
        @media #{$m-tablet--large} {
            display: none;
        }
        .carousel > & {
            bottom: 0;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin: 0 4px;
            border: 1px solid #fff;
            &-active {
                background-color: #fff;
            }
        }
    }
    &__button {
        &--next {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: 64px;
            width: 40px;
            background-color: rgba(black, .4);
            margin: auto;
            z-index: 5;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media #{$m-tablet--large} {
                display: flex;
            }
            @media #{$m-desktop--wide} {
                width: 64px;
            }
            &::after {
                content: "";
                display: block;
                width: 18px;
                height: 18px;
                margin-left: -8px;
                border: 2px solid white;
                border-width: 2px 2px 0 0;
                transform: rotate(45deg);
            }
        }
    }
}
