<div class="carousel swiper-container">
    <div class="carousel__list swiper-wrapper">
        <div class="carousel__item swiper-slide">
            <div class="carousel__image" style="background-image: url(img/content-items/carousel/kv01.jpg)"></div>
            <a href="#" class="carousel__wrap">
                <div class="carousel__text">
                    <h2 class="carousel__title">Global Quality Biosimilars</h2>
                    <div class="carousel__desc"><p>Meeting the stringent standards of the most highly regulated markets</p></div>
                </div>
                <hr>
            </a>
        </div>
        <div class="carousel__item swiper-slide">
            <div class="carousel__image" style="background-image: url(img/content-items/carousel/kv02.jpg)"></div>
            <a href="#" class="carousel__wrap">
                <div class="carousel__text">
                    <h2 class="carousel__title">FDA and the European Commission<br>grant FYB201 the approval</h2>
                    <div class="carousel__desc"><p>It's time. FYB201 will be launched in November 2020.</p></div>
                </div>
                <hr>
            </a>
        </div>
        <div class="carousel__item swiper-slide">
            <div class="carousel__image" style="background-image: url(img/content-items/carousel/kv03.jpg)"></div>
            <a href="#" class="carousel__wrap">
                <div class="carousel__text">
                    <h2 class="carousel__title">For Better Access to Important Medicines</h2>
                    <div class="carousel__desc"><p>Our focus is on treatments in ophthalmology and immunology as well as for other key chronic diseases.</p></div>
                </div>
                <hr>
            </a>
        </div>
        <div class="carousel__item swiper-slide">
            <div class="carousel__image" style="background-image: url(img/content-items/carousel/kv04.jpg)"></div>
            <a href="#" class="carousel__wrap">
                <div class="carousel__text">
                    <h2 class="carousel__title">Global Quality Biosimilars</h2>
                    <div class="carousel__desc"><p>Meeting the stringent standards of the most highly regulated markets</p></div>
                </div>
                <hr>
            </a>
        </div>
    </div>
    <div class="carousel__button--next"></div>
    <div class="carousel__pagination swiper-pagination"></div>
</div>
