<div class="fmc-boxes fmc-boxes--publications swiper-container js-tab-content">
	<div class="swiper-wrapper">
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box fmc-box--special">
				<div class="fmc-box__img" style="background-image: url('img/content-items/tabs/publications/publication01.png')">
				</div>
				<div class="fmc-box__meta">Half-Year Report 2017</div>
			</a>
		</div>
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box fmc-box--special">
				<div class="fmc-box__img" style="background-image: url('img/content-items/tabs/publications/publication02.png')">
				</div>
				<div class="fmc-box__meta">Annual Report 2016</div>
			</a>
		</div>
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box fmc-box--special">
				<div class="fmc-box__img" style="background-image: url('img/content-items/tabs/publications/publication03.png')">
				</div>
				<div class="fmc-box__meta">Half-Year Report 2016</div>
			</a>
		</div>
	</div>
	<div class="fmc-boxes__pagination swiper-pagination"></div>
</div>