<div class="fmc-boxes swiper-container js-tab-content">
	<div class="swiper-wrapper">
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box">
				<span class="fmc-box__top">
					<i class="fmc-box__icon">
						<img src="/img/content-items/tabs/events/calendar.svg" alt="" class="icon--blue icon--small">
					</i>
					<h2 class="fmc-box__date">may 15</h2>
					<h3 class="fmc-box__title">DVFA Spring Conference</h3>
				</span>
				<span class="fmc-box__meta">Frankfurt/Main</span>
			</a>
		</div>
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box">
				<span class="fmc-box__top">
					<i class="fmc-box__icon">
						<img src="/img/content-items/tabs/events/portrait.svg" alt="" class="icon--blue icon--small">
					</i>
					<h2 class="fmc-box__date">jun 19</h2>
					<h3 class="fmc-box__title">Annual General Meeting</h3>
				</span>
				<span class="fmc-box__meta">Planegg/Germany</span>
			</a>
		</div>
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box">
				<span class="fmc-box__top">
					<i class="fmc-box__icon">
						<img src="/img/content-items/tabs/events/calendar.svg" alt="" class="icon--blue icon--small">
					</i>
					<h2 class="fmc-box__date">dec 11/12</h2>
					<h3 class="fmc-box__title">Munich Capital Market Conference</h3>
				</span>
				<span class="fmc-box__meta">Munich/Germany</span>
			</a>
		</div>
	</div>
	<div class="fmc-boxes__pagination swiper-pagination"></div>
</div>