<!doctype html>
<html lang="en">
    <head>
        {% include "content-items/meta/_meta.twig" %}
        <link rel="stylesheet" href="css/layout.css?v=2">
        <title>
            {% block title %}Formycon{% endblock %}
        </title>
    </head>
    <body>
        {% block header %}
            {% include "content-items/header/_header.twig" %}
        {% endblock %}

        <div class="main">
            {% block hero %}{% endblock %}
            <div class="wrapper">
                {% block main %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            {% include "content-items/footer/_footer.twig" %}
        {% endblock %}

        <script src="./js/main.js?v=2"></script>
        <script src="./js/polyfill.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
