// Color
$c_white: #fff;

$c_yellow--light: #fff500;
$c_light-yellow: #fff500; // yellow
$c_yellow: #ffdc00; // dark yellow


$c_blue: #233c91; // dark blue
$c_dark-blue: #1e2d37; // dark grey
$c_light-blue: #ebf0fa; // light grey
$c_bright-blue: #37cde5;


$c_dark-gray: #919baf;
$c_light-gray: #d8dce9;

$c_red: #ff0033;
$c_light-red: #eb5f5f; // sienna

// Dark Gray (almost black): #1e2d37
// Gray: #4b5a73
// Light Grey: #ebf0fa

// Dark Blue: #233c91
// Mid Blue: #4264aa
// Light Blue: #8da5d6

// Yellow: #fff500
// Dark Yellow: #ffdc00

// Sienna: #eb5f5f
// Pelorous: #299baf

$path-fonts: "../fonts/";

$m-mobile--wide: "(min-width: 375px)";
$m-mobile--land: "(min-width: 480px)";
$m-mobile--large: "(min-width: 576px)";
$m-tablet: "(min-width: 768px)";
$m-tablet--large: "(min-width: 960px)";
$m-tablet--wide: "(min-width: 1024px)";
$m-desktop: "(min-width: 1280px)";
$m-desktop--medium: "(min-width: 1366px)";
$m-desktop--wide: "(min-width: 1920px)";

$m-till-tablet--wide: "(max-width: 1023px)";
