@import "normalize/import-now";
@import "variables";
@import "components/fonts/font";
@import "vendors/swiper/swiper";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    font-family: "ProximaNova", sans-serif;
    background-color: #fff;
    font-size: 16px;
    min-height: 100vh;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;

    &.fixed {
        overflow: hidden;

        .header__slide-content,
        .footer {
            transform: translateX(-256px);
        }

        .header__menu {
            transform: translateX(0);
        }
        .header::after {
            opacity: 0.75;
            width: 100%;
            transition: opacity 0.4s ease, width 0s linear 0s;
        }
    }
}

.main {
    padding-top: 72px;
    transition: transform 0.4s ease;
    @media #{$m_tablet} {
        padding-top: 96px;
    }
    @media #{$m_tablet--wide} {
        padding-top: 128px;
    }
    @media #{$m_desktop} {
        padding-top: 160px;
    }
    @media #{$m_desktop--wide} {
        padding-top: 176px;
    }
    body.fixed & {
        transform: translateX(-256px);
    }
}

.content {
    // min-height: 100vh;
    padding-top: 2%;
    overflow-x: hidden;
}

.center {
    margin: auto;
    width: 100%;

    @media #{$m_tablet} {
        padding: 0 40px;
    }

    @media #{$m_desktop} {
        max-width: 1180px;
    }
}

.layout {
    max-width: 952px;
    padding: 0 16px;
    margin: 0 auto;

    @media #{$m_desktop} {
        max-width: 1220px;
        padding: 0 40px;
    }
}

a {
    text-decoration: none;
}

@keyframes opacity75 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

@import "components/language/language";
@import "components/logo/logo";
@import "content-items/header/header";
@import "content-items/footer/footer";
@import "content-items/hero/hero";
@import "content-items/hero/list--hero";
@import "content-items/carousel/carousel";
@import "components/accordeon/accordeon";
@import "components/popup-menu/popup-menu";
@import "components/stock-widget/stock-widget";
@import "components/hamburger-icon/hamburger-icon";
@import "components/icon/icon";
@import "components/link/link";
@import "components/box/box";
@import "components/section/section";
@import "components/widget/widget";
@import "components/subscribe-form/subscribe-form";
@import "content-items/tabs/tabs";
@import "content-items/career/career";
@import "content-items/facts/facts";
