{% extends "_layout.twig" %}

{% block title %}Main -
    {{ parent() }}
{% endblock %}

{% block hero %}
    {% include "content-items/hero/_hero.twig" %}
{% endblock %}

{% block main %}
    <div class="sticker">
        {% include "content-items/carousel/_carousel.twig" %}
        <div class="content">
            {% include "content-items/tabs/_tabs.twig" %}
            {% include "content-items/career/_career.twig" %}
            {% include "content-items/facts/_facts.twig" %}

            <!-- test comment -->

            <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam nemo odit iste explicabo labore temporibus, expedita saepe repudiandae ex sit impedit velit porro ipsum enim cumque itaque distinctio consequuntur omnis?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam nemo odit iste explicabo labore temporibus, expedita saepe repudiandae ex sit impedit velit porro ipsum enim cumque itaque distinctio consequuntur omnis?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam nemo odit iste explicabo labore temporibus, expedita saepe repudiandae ex sit impedit velit porro ipsum enim cumque itaque distinctio consequuntur omnis?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam nemo odit iste explicabo labore temporibus, expedita saepe repudiandae ex sit impedit velit porro ipsum enim cumque itaque distinctio consequuntur omnis? -->
        </div>

        {#
        {% include "content-items/benefits/_benefits.twig" %}
        {% include "content-items/offer/_offer.twig" %}
        {% include "content-items/social/tripadvisor/_tripadvisor.twig" %}
        {% include "content-items/contacts/_contacts.twig" %}
        {% include "content-items/social/instagram/_instagram.twig" %}
        {% include "content-items/social/tweets/_tweets.twig" %}
        {% include "content-items/book/_book.twig" %} #}
    </div>
{% endblock %}

{% block script %}
    {# {% include 'components/map/_map-script.twig' %} #}
{% endblock %}
