.icon {
    &--medium {
        width: 32px;
        height: 32px;
        @media #{$m-desktop--medium} {
            width: 48px;
            height: 48px;
        }
    }
    &--yellow {
        * {
            fill: $c_yellow--light;
            // stroke: $c_yellow--light;
        }
        .link-trigger:hover & {
            * {
                fill: $c_white;
                // stroke: $c_white;
            }
        }
    }
    &--small {
        width: 18px;
        height: 18px;
    }
    &--blue {
        * {
            fill: $c_blue;
            // stroke: $c_blue;
        }
    }
}
