.fmc-boxes {
    -ms-display: flex;
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: -1;
    height: 433px;
    @media #{$m-tablet--large} {
        width: calc(100% + 64px);
        margin-left: -32px;
    }
    &--publications {
        max-width: 950px;
        margin: 0 auto;
    }
    &.is-visible {
        opacity: 1;
        position: static;
    }
    &__item{
        width: 100%;
        height: 288px;
        padding: 0 16px;
        @media #{$m-tablet--large} {
            margin: 0 16px;
            padding: 0;
            width: percentage(275/920);
        }
        @media #{$m_desktop} {
            width: percentage(362/1180);
        }
        .fmc-box {
            margin: 48px auto;
            &--special {
                margin-top: 30px;
                height: 350px;
            }
        }
    }
    &__pagination {
        &.swiper-pagination-bullets {
            bottom: 16px;
        }
        .swiper-pagination-bullet {
            background: transparent;
            border: 1px solid $c_dark-gray;
            outline: 0;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: $c_dark-gray;
        }
        @media #{$m-tablet--large} {
            display: none;
        }
    }
    .swiper-wrapper {
        // -ms-justify-content: space-between;
        // justify-content: space-between;
        @media #{$m-tablet--large} {
            padding: 0 16px;
        }
    }

}

.fmc-box {
    height: inherit;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px 24px 28px;
    -ms-display: flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-justify-content: space-between;
    justify-content: space-between;
    transition: all .25s ease-in-out;
    &--special {
        background-color: transparent;
        -ms-align-items: center;
        align-items: center;
        padding: 0;
        .fmc-box__meta {
            text-align: center;
            -ms-align-self: center;
            align-self: center;
        }
    }
    &:not(.fmc-box--special):hover {
        @media #{$m-tablet--wide} {
            box-shadow: 0px 0px 48px 0px rgba($c_dark-blue, 0.15);
            transform: translateY(-4%);
        }
    }
    &__icon {
        display: inline-block;
        margin-bottom: 20px;
        svg {
            display: block;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        color: $c_dark-blue;
        line-height: 1.4;
        margin: 0;
        @media #{$m-desktop} {
            font-size: 20px;
        }
    }
    &__date {
        font-size: 36px;
        color: $c_blue;
        text-transform: uppercase;
        margin: 0;
    }
    &__meta {
        margin-top: auto;
        padding-top: 19px;
        min-width: 144px;
        position: relative;
        -ms-align-self: flex-start;
        align-self: flex-start;
        color: $c_dark-blue;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.23;
        &:before {
            content: "";
            display: block;
            background-color: $c_light-gray;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__img {
        width: 100%;
        height: 350px;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}