<form action="https://t14b1074a.emailsys1a.net/196/1215/56686734bb/subscribe/form.html" method="post" class="js-subscribe-form">
    <input type="hidden" name="url_ok" value="http://localhost:3000/" />
<!--    <div style="position:absolute; z-index: -100; left:-6000px;" aria-hidden="true">
        <input type="text" name="f_7HfmDuBVjaNRF2o5Ck1" value="" tabindex="-1" />
    </div> -->
    <div class="fmc-input-group">
        <input type="text" name="email" id="email" value="" placeholder="Your E-Mail" data-msg-required="This field is required." data-msg-email="Please, enter email in correct format, e.g. email@example.com." />
        <button class="fmc-input-btn" type="submit">
            <img src="/img/components/subscribe-form/send.svg" alt="">
        </button>
    </div>
</form>


<!--  <form action="https://t14b1074a.emailsys1a.net/196/1215/56686734bb/subscribe/form.html" method="post">
    <div class="form">
        <div class="form_border">
            <ul>
                <li style="position:absolute; z-index: -100; left:-6000px;" aria-hidden="true">
                    <input type="text" class="form_field" name="f_7HfmDuBVjaNRF2o5Ck1" value="" tabindex="-1" />
                </li>
                <li>
                    <label class="field_label required" for="email">email: </label>
                    <input type="text" class="form_field" name="email" id="email" value="" />
                </li>
                <li class="form_button">
                    <input type="submit" class="form_button_submit" value="Subscribe" />
                </li>
            </ul>
        </div>
    </div>
</form> -->