.fmc-input-group {
    position: relative;
    max-width: 572px;
    -ms-display: flex;
    display: flex;
    input {
        -webkit-appearance: none;
        border-radius: 0;
        appearance: none;
        width: calc(100% - 58px);
        background: #fff;
        border: 2px solid #fff;
        color: $c_blue;
        padding: 0 16px;
        font-size: 16px;
        font-weight: 700;
        &:focus {
            outline: 0;
        }
        &::placeholder, {
            color: $c_blue;
            opacity: 1;
        }
        :ms-input-placeholder {
            color: $c_blue;
        }
    }
    label.error {
        color: #ff0033;
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 8px;
        margin-top: 8px;
        font-weight: 700;
    }
}

.fmc-input-btn {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #fff;
    outline: 0;
    width: 58px;
    background: $c_blue;
    padding: 5px 0;
    cursor: pointer;
    transition: all .25s ease-in-out;
    &:hover {
        background: $c_yellow;
    }
    svg {
        width: 29px;
        height: 28px;
        fill: #fff;
    }
}