.logo {
  display: inline-flex;
  padding: 12px;
  &__image {
    width: 88px;
    height: 22px;
    transition: all .3s ease-in-out;
    @media #{$m-tablet} {
        width: 132px;
        height: 33px;
        .header--compact & {
            width: 88px;
            height: 22px;
        }
    }
    @media #{$m-desktop} {
      width: 176px;
      height: 44px;
      .header--compact & {
          width: 88px;
          height: 22px;
      }
    }
  }
}
