<div class="fmc-boxes swiper-container js-tab-content">
	<div class="swiper-wrapper">
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box">
				<span class="fmc-box__top">
					<i class="fmc-box__icon">
						<img src="/img/content-items/tabs/news/info.svg" alt="" class="icon--blue icon--small">
					</i>
					<h3 class="fmc-box__title">Formycon & Aristo Pharma are Founding a Joint Venture for the Development of FYB202</h3>
				</span>
				<span class="fmc-box__meta">December 22, 2017</span>
			</a>
		</div>
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box">
				<span class="fmc-box__top">
					<i class="fmc-box__icon">
						<img src="/img/content-items/tabs/news/list.svg" alt="" class="icon--blue icon--small">
					</i>
					<h3 class="fmc-box__title">Formycon Reports Operating and Financial Results for the Third Quarter of 2017</h3>
				</span>
				<span class="fmc-box__meta">November 27, 2017</span>
			</a>
		</div>
		<div class="fmc-boxes__item swiper-slide js-tab-box">
			<a href="" class="fmc-box">
				<span class="fmc-box__top">
					<i class="fmc-box__icon">
						<img src="/img/content-items/tabs/news/list.svg" alt="" class="icon--blue icon--small">
					</i>
					<h3 class="fmc-box__title">Formycon Sets Course for the Future and Confirms Management Board Members until mid-2022</h3>
				</span>
				<span class="fmc-box__meta">November 16, 2017</span>
			</a>
		</div>
	</div>
	<div class="fmc-boxes__pagination swiper-pagination"></div>
</div>