.link {
    &--animaline {
        position: relative;
        padding: 10px 0 0;
        display: block;
        &__title {
            position: relative;
            top: 0;
            display: block;
            transition: top .3s ease-in-out;
            .link-trigger:hover & {
                top: -10px;
            }
        }
        &::after {
            content: "";
            height: 2px;
            position: absolute;
            bottom: 100%;
            width: 100%;
            left: 0;
            transition: bottom .3s ease-in-out;
            .link-trigger:hover & {
                bottom: 0%;
            }
        }
    }
    &--yellow{
        color: $c_yellow--light;
        .link-trigger:hover & {
            color: $c_white;
        }
        &.link--animaline {
            &::after {
                background-color: $c_yellow--light;
                .link-trigger:hover & {
                    background-color: $c_white;
                }
            }
        }
    }
    &--red{
        color: $c_light-red;
        &.link--animaline {
            &::after {
                background-color: $c_light-red;
            }
        }
    }
}
