.language {
  display: flex;
  @media #{$m-desktop} {
    padding-top: 3px;
  }
  &__link {
    font-weight: bold;
    font-size: 13px;
    color: $c_dark-blue;
    padding: 20px 10px;
    @media #{$m-tablet--wide} {
      padding: 20px 8px;
    }
    @media #{$m-desktop} {
      padding: 24px 8px;
    }
    &--active, &:hover {
      color: $c_yellow;
    }
  }
}
