.fmc-section {
    padding-top: 60px;
    @media #{$m-tablet} {
        padding-top: 70px;
    }
    &__title {
        font-size: 24px;
        line-height: 1.17;
        font-weight: 700;
        text-align: center;
        margin: 0;
        padding: 0 16px;
        @media #{$m-mobile--large} {
            font-size: 30px;
            line-height: 1.2;
        }
        @media #{$m-tablet--large} {
            padding: 0;
        }
    }
}