<div class="hero">
    <div class="hero__wrapper">
        <div class="hero__text">
            <h1 class="hero__headline">We are a leading independent pure play developer of Biosimilars.</h1>
            <div class="hero__desc">
                <p>Formycon's expertise allows the company to develop high-quality biosimilars that meet the strict regulatory requirements of highly regulated markets such as Europe and United States.</p>
            </div>
        </div>
        <div class="hero__footer">
            {% include "content-items/hero/_list--hero.twig" %}
        </div>
    </div>
</div>
