.hero {
    position: relative;
    z-index: 2;
    // overflow: hidden;
    display: flex;
    transform: translate3d(0,0,0);
    @media #{$m-tablet--large} {
        position: absolute;
        left: 3%;
        width: 50%;
        padding-bottom: 45%;
    }
    @media #{$m-desktop--wide} {
        left: 4%;
        padding-bottom: 35%;
    }
    &::after {
        // content: "";
        width: 100%;
        padding-bottom: 90%;
        display: none;
        @media #{$m-tablet--large} {
            display: block;
        }
        @media #{$m-desktop--wide} {
            padding-bottom: 70%;
        }
    }
    &__wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: rgba($c_blue, .95);
        padding: 36px 24px;
        margin: 0 8px;
        @media #{$m-tablet} {
            margin: 0 16px;
            padding: 72px 80px 67px;
        }
        @media #{$m-tablet--large} {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            padding: 6.4vw 9vw 6.9vw 5.05vw;
        }
        @media #{$m-desktop} {
            padding: 82px 64px;
        }
        @media #{$m-desktop--wide} {
            padding: 86px 128px 102px 96px;
        }
    }
    &__text {
        flex-grow: 1;
        color: white;
        @media #{$m-desktop} {
            margin-right: 15%;
        }
    }
    &__headline {
        font-size: 22px;
        line-height: 28px;
        margin: 0;
        @media #{$m-tablet} {
            font-size: 36px;
            line-height: 45px;
        }
        @media #{$m-tablet--large} {
            font-size: 2.5vw;
            line-height: 1.2;
        }
        @media #{$m-desktop--wide} {
            font-size: 2.3vw;
        }
    }
    &__desc {
        font-size: 16px;
        line-height: 24px;
        margin-top: 36px;
        display: none;
        @media #{$m-tablet} {
            display: block;
        }
        @media #{$m-tablet--large} {
            font-size: 1.2vw;
            line-height: 1.4;
            margin-top: 2.75vw;
        }
        @media #{$m-tablet--wide} {
            line-height: 1.45;
        }
        @media #{$m-desktop} {
            // font-size: 15px;
            line-height: 1.33333;
        }
        @media #{$m-desktop--wide} {
            margin-top: 2.5vw;
            font-size: 1.05vw;
            line-height: 1.5;
        }
        p {
            margin: 0;
        }
    }
    &__footer {
        margin-top: 84px;
        height: 80px;
        font-weight: bold;
        @media #{$m-mobile--land} {
            margin-top: 40px;
        }
        @media #{$m-tablet} {
            margin-top: 66px;
        }
        @media #{$m-tablet--large} {
            margin-right: 3.7vw;
        }
        @media #{$m-tablet--wide} {
            margin-top: 48px;
            width: 90.5%;
        }
        @media #{$m-desktop} {
            width: 79%;
        }
    }
}
