<div class="list--hero">
    <a href="#" class="list--hero__item link-trigger">
        <span class="list--hero__icon">
            <img src="img/content-items/hero/kv-01.png" alt="" class="icon--yellow icon--medium">
        </span>
        <span class="link--animaline link--yellow">
            <span class="link--animaline__title">What are Biosimilars?</span>
        </span>
    </a>
    <a href="#" class="list--hero__item link-trigger">
        <span class="list--hero__icon">
            <img src="img/content-items/hero/kv-02.png" alt="" class="icon--yellow icon--medium">
        </span>
        <span class="link--animaline link--yellow">
            <span class="link--animaline__title">Our Product Portfolio</span>
        </span>
    </a>
    <a href="#" class="list--hero__item link-trigger">
        <span class="list--hero__icon">
            <img src="img/content-items/hero/kv-03.png" alt="" class="icon--yellow icon--medium">
        </span>
        <span class="link--animaline link--yellow">
            <span class="link--animaline__title">Our Business Model</span>
        </span>
    </a>
</div>
