.list--hero {
    display: flex;
    font-size: 11px;
    line-height: 13px;
    @media #{$m-desktop--wide} {
        font-size: 14px;
        line-height: 18px;
    }
    &__item {
        flex: 1 0 0%;
        margin-left: 14px;
        @media #{$m-mobile--land} {
            margin-left: 16px;
        }
        @media #{$m-tablet} {
            margin-left: 24px;
        }
        @media #{$m-tablet--large} {
            margin-left: 16px;
        }
        @media #{$m-desktop--wide} {
            margin-left: 24px;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    &__icon {
        display: block;
        margin-bottom: 14px;
        svg{
            display: block;
        }
    }
}
